<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav nav-tabs w-100" role="tablist">
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fas fa-music me-2"></i>Sons
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" href="favorites">
                    <i class="fas fa-star me-2"></i>Favoritos
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" href="upload">
                    <i class="fas fa-upload me-2"></i>Adicionar
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" href="categories">
                    <i class="fas fa-folder me-2"></i>Categorias
                </NavLink>
            </li>
            <li class="nav-item" role="presentation">
                <NavLink class="nav-link" href="stats">
                    <i class="fas fa-chart-bar me-2"></i>Estatísticas
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

